.footer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
  color: white;
  background-color: #272A35;

  .social-logo {
    display: inline-block;
    height: 40px;
    width: 50px;
  }
}